<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/logo.png" type="image/jpg">
        <title>Ecodar</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/style.css"/>
    </head>

    <body>  
        <div th:replace="~{navegacion :: contenidoNavegacion}"></div>
    
        <div class="container my-5 min-vh-100">
            <h3 class="text-center my-4">ADMINISTRADOR USUARIOS</h3>

            <!--
            <div class="d-flex justify-content-between">
                <form action="/producto/filtrar" method="POST">
                    <div class="input-group mb-3">
                        <select class="form-select" name="desc" aria-label="Default select example">
                            <option selected>Seleccionar Categoria</option>
                            <option value="Artículos de Limpieza">Artículos de Limpieza</option>
                            <option value="Artículos de Oficina">Artículos de Oficina</option>
                            <option value="Útiles Escolares">Útiles Escolares</option>
                        </select>
                        <button class="btn btn-outline-secondary" type="submit">Listar</button>
                    </div>
                </form>
    
                <form action="/producto/buscar" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" name="desc" class="form-control" placeholder="Ingresar descripción">
                        <button type="submit" class="btn btn-info">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>                
            </div>
            -->

            <div class="col-md-9 w-100">
                <ul class="row p-0">
                    <div th:each="usuario,x : ${usuarios}" class="col-12 col-md-4">
                        <div class="mb-3 card">
                            <div class="mx-3 card-body">
                                <h5 th:text="${usuario.nombre}" class="card-title"></h5>
                                <p th:text="${usuario.apellido}" class="card-text"></p>
                                <p th:text="${usuario.tipo_documento}" class="card-text"></p>
                                <p th:text="${usuario.numero_documento}" class="card-text"></p>
                                <p th:text="${usuario.celular}" class="card-text"></p>
                                <p th:text="${usuario.correo}" class="card-text"></p>
                                <p th:text="${usuario.username}" class="card-text"></p>
                                <p th:text="${usuario.direccion}" class="card-text"></p>
                                <div class="d-flex justify-content-between">                                       
                                    </button>
                                    <button class="btn btn-warning">
                                        <a target="_self" class="text-white link-underline-opacity-0" style="text-decoration: none;">
                                            Editar
                                        </a>                                        
                                    </button>
                                    <button class="btn btn-danger">
                                        <a target="_self" class="text-white link-underline-opacity-0" style="text-decoration: none;">
                                            Eliminar
                                        </a>                                        
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
            
        </div>
        <div th:replace="~{footer :: contenidoFooter}"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>