<!DOCTYPE html>
<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
   
    <div th:replace="~{navegacion :: contenidoNavegacion}"></div>
    
    <main class = "min-vh-100 d-flex justify-content-center" >

        <section>
            <div class="container cards-wrapper" style="max-width: 540px;">
                <div class="card mb-3 my-5" style="position: relative;">
                  <button class="btn btn-primary menos-btn">-</button>
                  <button class="btn btn-primary mas-btn">+</button>
                  <button class="btn btn-danger delete-btn">Eliminar</button>
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/Lejia.png" class="img-fluid rounded-start" alt="img">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Lejia</h5>
                        <p class="card-text">Marca: Daryza</p>
                        <p class="card-text">Precio: S/14.90</p>
                        <p class="card-can">1</p>
                        <p class="card-text">Cantidad: 1</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container cards-wrapper" style="max-width: 540px;">
                <div class="card mb-3 my-5" style="position: relative;">
                  <button type="button" class="btn btn-primary menos-btn">-</button>
                  <button class="btn btn-primary mas-btn">+</button>
                  <button class="btn btn-danger delete-btn">Eliminar</button>
                  <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Aromatizador.png" class="img-fluid rounded-start" alt="img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Aromatizador</h5>
                          <p class="card-text">Marca: Sapolio</p>
                          <p class="card-text">Precio: S/5.90</p>
                          <p class="card-can">2</p>
                          <p class="card-text">Cantidad: 2</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

        </section>
        <section>
            <div class="card mb-2 my-5 resumen-orden" style=" width: 340px">
                <div class="row g-0">
                    <div class="card-body">
                        <h5 class="card-title text-center">Resumen de la orden</h5>
                        <p class="card-text">Costo de Envio: </p>
                        <p class="card-text">Subtotal: </p>
                        <p class="card-text">Total: </p>
                    </div>
                </div>
            </div>
        </section>
        
        
    </main>
    <!--
    <main class = "min-vh-100">
      <div style="box-sizing: content-box; color: white; background-color: dodgerblue;">
            <div class="container my-5">
                <div class="text-center" style="padding: 50px 0;">
                    <h1>CARRITO COMPRA</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <a th:href="@{/producto/listar}" class="btn btn-primary my-3" type="button">Ver Mas Productos</a>
            <table class="table">
                <thead>
                    <tr class="table-success">
                        <th scope="col">#</th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="carrito,x : ${Carrito}">
                        <th th:text="${x.count}" scope="row"></th>
                        <td th:text="${carrito.idProducto}"></td>
                        <td th:text="${carrito.producto}"></td>
                        <td th:text="${carrito.descripcion}"></td>
                        <td th:text="${carrito.precio}"></td>
                        <td th:text="${carrito.cantidad}"></td>
                        <td th:text="${carrito.total}"></td>
                        <td>
                            <a th:href="@{/venta/eliminarcarrito(cod=${x.count})}" target="_self" style="color:red">
                                <i class="bi bi-x-circle-fill"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form action="/venta/registrar" method="post" class="row g-3 my-3">
                <div class="col-md-6">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" name="user" placeholder="Nombre de Usuario">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" name="clave" placeholder="Contraseña">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Medio Pago</label>
                    <select class="form-control" name="id_metodo_pago   " required>
                        <option value="" selected disabled>Seleccione Medio de Pago</option>
                        <option th:each="metodoPago: ${MetodoPago}" th:value="${metodoPago.id_metodo_pago}"
                            th:text="${metodoPago.nombre}">
                    </select>
                </div>
                <div class="col-6">
                    <label class="form-label">Fecha</label>
                    <input type="datetime-local" class="form-control" name="fec" placeholder="fecha" required>
                </div>
                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </main>
    -->
    <div th:replace="~{footer :: contenidoFooter}"></div>
</body>

</html>