@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-size: 18;
}

.carrito{
    border: 2px solid #ddd;
    float: right;
    font-size: 18px;
    padding: 10px;
}
.montoCarrito {
    color: black;
    font-weight: 700;
}
.nosotros{
    text-align: justify
}
.carrusel{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}
.elemento{
    flex: 1 0 auto;
    margin: 0 1px;
    background-color: green;
    width: 300px;
    height: 300px;
}
