<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Form PRODUCTOS</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <header style="background-color: lightgrey">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" th:href="@{/}">
                            <img width="250" height="65" src="/logo_ecodar.png" alt="alt" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" th:href="@{/}">
                                        <i class="bi bi-house-fill"></i>
                                        Inicio
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/nosotros}">
                                        <i class="bi bi-info-circle"></i>
                                        Nosotros
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/producto/listar}">
                                        <i class="bi bi-grid-fill"></i>
                                        Productos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/venta/reporte}">
                                        <i class="bi bi-person-fill"></i>
                                        Mis Compras
                                    </a>
                                </li>
                            </ul>
                            <div class="carrito">
                                <a class="nav-link active" th:href="@{/venta/listarCarrito}">
                                    <i class="bi bi-cart4"></i>
                                    <span class="montoCarrito">CARRITO</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        
        <div class="container">
            <hr>
            <div class="alert alert-success" role="alert">
                Formulario para NUEVO PRODUCTO
            </div>
            <hr>
            <form action="registrar" method="post" class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nom" placeholder="Nombre">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Descripción</label>
                    <input type="text" class="form-control" name="desc" placeholder="Descripcion">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Categoria</label>
                    <select class="form-select" name="cat" aria-label="Default select example">
                        <option selected>Seleccionar Categoria</option>
                        <option value="Artículos de Limpieza">Artículos de Limpieza</option>
                        <option value="Artículos de Oficina">Artículos de Oficina</option>
                        <option value="Útiles Escolares">Útiles Escolares</option>
                    </select>
                    <!--<input type="text" class="form-control" name="cat" placeholder="Categoria">-->
                </div>
                <div class="col-md-6">
                    <label class="form-label">Marca</label>
                    <input type="text" class="form-control" name="marca" placeholder="Marca">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Precio</label>
                    <input type="text" class="form-control" name="pre" placeholder="00.00">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    <a class="btn btn-primary" role="button" th:href="@{/producto/listar}">Ver Productos</a>
                </div>
            </form>
        </div>
    </body>
</html>

