<footer class="footer-content" style="background-color: rgb(196, 195, 195)" th:fragment="contenidoFooter">
    <div class="container text-center pt-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Ayuda</h5>
                <ul>
                    <li>Centro de Ayuda</li>
                    <li>Seguimiento de Compras</li>
                    <li>Preguntas Frecuentes</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Siguenos</h5>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
            </div>
            <div class="col-md-3">
                <h5>Contactanos</h5>
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-envelope"></i>
            </div>
            <div class="col-md-3">
                <h5>Metodos de pago</h5>
                <ul>
                    <li>Tarjeta de Débito</li>
                    <li>Tarjeta de Crédito</li>
                    <li>Billeteras Digitales</li>
                </ul>
            </div>
        </div>
        <span>© 2024 Ecodar. Todos los derechos reservados.</span>
    </div>
</footer>
