<footer class="footer-content" style="background-color: rgb(196, 195, 195)" th:fragment="contenidoFooter">
    <div class="container text-center pt-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Ayuda</h5>
                <ul>
                    <li class="li-footer">Centro de Ayuda</li>
                    <li class="li-footer">Seguimiento de Compras</li>
                    <li class="li-footer">Preguntas Frecuentes</li>
                    <li class="li-footer">Libro de reclamaciones</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Síguenos</h5>
                <a href="https://www.instagram.com/marfalling.ds3"  target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.facebook.com"   target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
            <div class="col-md-3">
                <h5>Contáctanos</h5>
                <a href="https://wa.me"  target="_blank">
                    <i class="bi bi-whatsapp" ></i>
                </a>
                <a href="https://gmail.com"  target="_blank">
                    <i class="bi bi-envelope"></i>
                </a>
            </div>
            <div class="col-md-3">
                <h5>Métodos de pago</h5>
                <ul>
                    <li class="li-footer">Tarjeta de Débito</li>
                    <li class="li-footer">Tarjeta de Crédito</li>
                    <li class="li-footer">Billeteras Digitales</li>
                </ul>
            </div>
        </div>
        <span>© 2024 Ecodar. Todos los derechos reservados.</span>
    </div>
</footer>
