<!DOCTYPE html>
<html>

<head>
    <title>Nosotros</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div th:replace="~{navegacion :: contenidoNavegacion}"></div>

    <section class="nosotros my-5">
        <h1 class="text-center my-5">¿Quiénes somos?</h1>
        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col-6">
                    <p>Somos una empresa distribuidora, encargada de vender artículos de limpieza
                        y oficina al por mayor y menor en el departamento de Lima. Tenemos como
                        visión ser una de la empresas mas reconocidas en este rubro por la calidad
                        de los productos y servicios al momento de vender al cliente.</p>
                    <img src="ecodar.jpeg" alt="alt" class="img-fluid" width="800" height="150" />
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6">
                    <img src="logo_ecodar.png" alt="alt" class="img-fluid" />
                </div>
                <div class="col-6">
                    <p>La empresa ECODAR PERU, brinda a sus clientes una lista de productos de
                        distintas marcas reconocidas en el mercado. Actualmente se especializa
                        en el rubro de útiles de oficina, escolares y limpieza. Nosotros como
                        empresa brindamos productos de calidad y a un precio cómodo para todos
                        nuestros clientes, ECODAR lleva sus productos hasta su local, de una manera
                        rápida y eficaz dentro de un periodo de 48 horas. Asimismo, brindamos al
                        cliente la orientación de la compra de los productos y detalles que requieran.
                        Logrando así una comunicación efectiva al momento de ofrecer el producto.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="my-5">
        <h1 class="text-center my-5">Marcas con las que trabajamos</h1>

        <div class="container">
            <div class="carrusel">
                <div class="elemento"><img src="Alpha.png" alt="..."></div>
                <div class="elemento"><img src="Artesco.png" alt="..."></div>
                <div class="elemento"><img src="Arti.png" alt="..."></div>
                <div class="elemento"><img src="Daryza.png" alt="..."></div>
                <div class="elemento"><img src="David.png" alt="..." width="300" height="300"></div>
                <div class="elemento"><img src="FaberCastell.png" alt="..."></div>
                <div class="elemento"><img src="Maped.png" alt="..." width="300" height="300"></div>
                <div class="elemento"><img src="Sumac.png" alt="..."></div>
                <div class="elemento"><img src="UHU.png" alt="..."></div>
                <div class="elemento"><img src="Vinifan.png" alt="..."></div>
                <div class="elemento"><img src="stabilo.jpg" alt="..."></div>
            </div>
        </div>
    </section>
    
    <div th:replace="~{footer :: contenidoFooter}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>